@import '../styles/variables';
@import '../styles/mixins';

.uncanny-archives {

  .archives-header {
    margin-top: 110px;

    .search-wrapper {
      margin: 30px 0px 10px 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .search-input {
        width: 100%;
        max-width: 500px;
        background: #222;
        color: #fff;
        border: 1px solid #444;
        padding: 12px 20px;
        border-radius: 25px;
        text-align: center;
      }
    }
  }

  .episode-list {
    .episode-card {
      @include glass-panel;
      margin: 3rem;
      padding: 2rem;
    }

    .episode-art {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 8px;
    }

    .audio-section {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    .episode-description.collapsed {
      max-height: 100px;
      overflow: hidden;
      mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }

    .episode-description.expanded {
      max-height: none;
    }

    .toggle-desc-btn {
      @include brand-btn;
      @include brand-btn-secondary;
      margin-top: 20px;
    }
  }
}