@import '../../styles/variables';

.language-select {
  background: transparent;
  border: 1px solid $brand-mist;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #e0e6ed;
  font-family: $font-stack-ui;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;

  &:focus {
    outline: 2px solid $text-inverse;
  }
  
  option {
    color: $brand-espresso;
  }
}