@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Special+Elite&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  background-color: var(--obsidian-dark);
  color: var(--latte-parchment);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 9999; 
    
    background: var(--accent-color); 
    color: #2c241b;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom-right-radius: 8px;
    transition: top 0.3s ease;

    &:focus {
      top: 0; 
      outline: 3px solid white; 
    }
  }
}