@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Special+Elite&display=swap');
/* 'Cinzel Decorative' gives a high-fantasy, Celtic feel */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
/* 'Orbitron' gives a sci-fi, warrior feel */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

$paper-url: url('./assets/images/parchment.webp');
$fine-ragged-mask: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' preserveAspectRatio='none'%3E%3Cpath d='M2.5,2.5 L12.5,0.5 L22.5,3.5 L32.5,1.5 L42.5,4.5 L52.5,0.5 L62.5,3.5 L72.5,1.5 L82.5,4.5 L92.5,0.5 L102.5,3.5 L112.5,1.5 L122.5,4.5 L132.5,0.5 L142.5,3.5 L152.5,1.5 L162.5,4.5 L172.5,0.5 L182.5,3.5 L192.5,1.5 L202.5,4.5 L212.5,0.5 L222.5,3.5 L232.5,1.5 L242.5,4.5 L252.5,0.5 L262.5,3.5 L272.5,1.5 L282.5,4.5 L292.5,0.5 L302.5,3.5 L312.5,1.5 L322.5,4.5 L332.5,0.5 L342.5,3.5 L352.5,1.5 L362.5,4.5 L372.5,0.5 L382.5,3.5 L392.5,1.5 L402.5,4.5 L412.5,0.5 L422.5,3.5 L432.5,1.5 L442.5,4.5 L452.5,0.5 L462.5,3.5 L472.5,1.5 L482.5,4.5 L492.5,0.5 L497.5,2.5 L499.5,12.5 L496.5,22.5 L498.5,32.5 L495.5,42.5 L499.5,52.5 L496.5,62.5 L498.5,72.5 L495.5,82.5 L499.5,92.5 L496.5,102.5 L498.5,112.5 L495.5,122.5 L499.5,132.5 L496.5,142.5 L498.5,152.5 L495.5,162.5 L499.5,172.5 L496.5,182.5 L498.5,192.5 L495.5,202.5 L499.5,212.5 L496.5,222.5 L498.5,232.5 L495.5,242.5 L499.5,252.5 L496.5,262.5 L498.5,272.5 L495.5,282.5 L499.5,292.5 L496.5,302.5 L498.5,312.5 L495.5,322.5 L499.5,332.5 L496.5,342.5 L498.5,352.5 L495.5,362.5 L499.5,372.5 L496.5,382.5 L498.5,392.5 L495.5,402.5 L499.5,412.5 L496.5,422.5 L498.5,432.5 L495.5,442.5 L499.5,452.5 L496.5,462.5 L498.5,472.5 L495.5,482.5 L499.5,492.5 L497.5,497.5 L487.5,499.5 L477.5,496.5 L467.5,498.5 L457.5,495.5 L447.5,499.5 L437.5,496.5 L427.5,498.5 L417.5,495.5 L407.5,499.5 L397.5,496.5 L387.5,498.5 L377.5,495.5 L367.5,499.5 L357.5,496.5 L347.5,498.5 L337.5,495.5 L327.5,499.5 L317.5,496.5 L307.5,498.5 L297.5,495.5 L287.5,499.5 L277.5,496.5 L267.5,498.5 L257.5,495.5 L247.5,499.5 L237.5,496.5 L227.5,498.5 L217.5,495.5 L207.5,499.5 L197.5,496.5 L187.5,498.5 L177.5,495.5 L167.5,499.5 L157.5,496.5 L147.5,498.5 L137.5,495.5 L127.5,499.5 L117.5,496.5 L107.5,498.5 L97.5,495.5 L87.5,499.5 L77.5,496.5 L67.5,498.5 L57.5,495.5 L47.5,499.5 L37.5,496.5 L27.5,498.5 L17.5,495.5 L7.5,499.5 L2.5,497.5 L0.5,487.5 L3.5,477.5 L1.5,467.5 L4.5,457.5 L0.5,447.5 L3.5,437.5 L1.5,427.5 L4.5,417.5 L0.5,407.5 L3.5,397.5 L1.5,387.5 L4.5,377.5 L0.5,367.5 L3.5,357.5 L1.5,347.5 L4.5,337.5 L0.5,327.5 L3.5,317.5 L1.5,307.5 L4.5,297.5 L0.5,287.5 L3.5,277.5 L1.5,267.5 L4.5,257.5 L0.5,247.5 L3.5,237.5 L1.5,227.5 L4.5,217.5 L0.5,207.5 L3.5,197.5 L1.5,187.5 L4.5,177.5 L0.5,167.5 L3.5,157.5 L1.5,147.5 L4.5,137.5 L0.5,127.5 L3.5,117.5 L1.5,107.5 L4.5,97.5 L0.5,87.5 L3.5,77.5 L1.5,67.5 L4.5,57.5 L0.5,47.5 L3.5,37.5 L1.5,27.5 L4.5,17.5 L0.5,7.5 Z' fill='black'/%3E%3C/svg%3E";

.app-container {
  background-color: var(--obsidian-dark);
  color: var(--latte-parchment);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 9999; 
    
    background: var(--accent-color); 
    color: #2c241b;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom-right-radius: 8px;
    transition: top 0.3s ease;

    &:focus {
      top: 0; 
      outline: 3px solid white; 
    }
  }

  .parchment-panel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    padding: 4rem; 
    
    background-color: #d4c5a9;
    background-image: linear-gradient(rgba(212, 197, 169, 0.5), rgba(212, 197, 169, 0.5)), $paper-url;
    background-size: cover;
    background-repeat: no-repeat;
    
    mask-image: url($fine-ragged-mask);
    -webkit-mask-image: url($fine-ragged-mask);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.6));
    color: #2c1a12;
    text-align: left;

    h2 { 
      margin: 0; 
      font-family: 'Playfair Display', 
      serif; 
    }
    span { 
      font-size: 0.9rem; 
      font-style: italic; 
    }
  }
}
